<footer class="footer">
    <div class="footer-info">
        <ul class="footer-info__ulka">
            <li class="footer-info__li">
                <a class="footer-info__link" href=""><img src="/img/ST shop web 2 2.png" alt="" /></a>
            </li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">+38 (063) 440-77-44</a></li>
            <li class="footer-info__li">Звоните нам с 10:00 до 18:00</li>
            <li class="footer-info__li">Сб-Вс - выходные</li>
            <li class="footer-info__li"><a class="footer-info__link" href="#"> info@stshop.com </a></li>
            <li class="footer-info__li">Пишите нам в любое время.</li>
            <li class="footer-info__li">Мы ответим вам в кратчайшие сроки.</li>
        </ul>
        <ul class="foter-info__ulka">
            <li class="footer-info__li"><a class="footer-info__link" href="">КАТАЛОГ ТОВАРОВ</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Чехлы</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Стекла / пленки</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Зарядные Устройства</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Аудио Устройства</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Автоаксессуары</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Кабели / Переходники</a></li>
        </ul>
        <ul class="footer-info__ulka">
            <li class="footer-info__li"><a class="footer-info__link" href="#">АКСЕССУАРЫ</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Apple</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Samsung</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Xiaomi</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Realme</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Huawei</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Honor</a></li>
        </ul>
        <ul class="footer-info__ulka">
            <li class="footer-info__li"><a class="footer-info__link" href="#">STshop</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">О компании</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Миссия и ценности</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Наши бренды</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Полезно знать</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Контакты</a></li>
        </ul>
        <ul class="footer-info__ulka">
            <li class="footer-info__li"><a class="footer-info__link" href="#">КЛИЕНТАМ</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Ценовая политика</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Сервисы</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Доставка и оплата</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">Гарантия и возврат</a></li>
            <li class="footer-info__li"><a class="footer-info__link" href="#">FAQ</a></li>
        </ul>
    </div>
</footer>
