<header class="header">
    <nav class="navigation">
        <ul class="navigation__wrapper">
            <a class="navigation__link-logo" href="/index.html"><img src="/img/logo 2 1.png" alt="logo-white" /></a>
            <li class="navigation__menu">
                <a class="navigation__link" href="/chehol/chehol.html">Каталог</a>
                <ul class="navigation__submenu">
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Аксесуары</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__sub-submenu-li"><a href="/chehol/chehol.html" class="navigation__sub-submenu-link">Чехлы</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Дата-Кабель</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Ремешки</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Держатели</a></li>
                        </ul>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Умные часы</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Apple</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Samsung</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Xiaomi</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Honor</a></li>
                        </ul>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Телефоны</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Apple</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Samsung</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Honor</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Xiaomi</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Nokia</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">BlackBerry</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Lenovo</a></li>
                        </ul>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Наушники</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Apple</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Samsung</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Xiaomi</a></li>
                        </ul>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="/parfum/parfum.html">Парфюмерия</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__submenu-li">
                                <a class="navigation__submenu-link" href="">Мужская</a>
                            </li>
                            <li class="navigation__submenu-li">
                                <a class="navigation__submenu-link" href="">Женская</a>
                            </li>
                            <li class="navigation__submenu-li">
                                <a class="navigation__submenu-link" href="">Унисекс</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="navigation__menu">
                <a class="navigation__link" href="/chehol/chehol.html">Аксесуары</a>
                <ul class="navigation__submenu">
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Apple</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__sub-submenu-li"><a href="/chehol/chehol.html" class="navigation__sub-submenu-link">Чехлы</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Дата-Кабель</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Ремешки</a></li>
                        </ul>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Samsung</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__sub-submenu-li"><a href="/chehol/chehol.html" class="navigation__sub-submenu-link">Чехлы</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Дата-Кабель</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Ремешки</a></li>
                        </ul>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Xiaomi</a>
                        <ul class="navigation__sub-submenu">
                            <li class="navigation__sub-submenu-li"><a href="/chehol/chehol.html" class="navigation__sub-submenu-link">Чехлы</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Дата-Кабель</a></li>
                            <li class="navigation__sub-submenu-li"><a href="" class="navigation__sub-submenu-link">Ремешки</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="navigation__menu">
                <a class="navigation__link" href="/chehol/chehol.html">Наушники</a>
                <ul class="navigation__submenu">
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Apple</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Samsung</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Xiaomi</a>
                    </li>
                </ul>
            </li>
            <li class="navigation__menu">
                <a class="navigation__link" href="/chehol/chehol.html">Умные часы</a>
                <ul class="navigation__submenu">
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Apple</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Samsung</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Xiaomi</a>
                    </li>
                </ul>
            </li>
            <li class="navigation__menu">
                <a class="navigation__link" href="/parfum/parfum.html">Парфюмерия</a>
                <ul class="navigation__submenu">
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Мужская</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Женская</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Унисекс</a>
                    </li>
                </ul>
            </li>
            <li class="navigation__menu">
                <a class="navigation__link" href="#">Контакты</a>
                <ul class="navigation__submenu">
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Call</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">WhatsApp</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="">Telegram</a>
                    </li>
                    <li class="navigation__submenu-li">
                        <a class="navigation__submenu-link" href="#">Instagram</a>
                    </li>
                </ul>
            </li>
            <form class="navigation__search">
                <input class="navigation__search-input" type="text" value="" placeholder="Search" autofocus>
                <a class="navigation__search-back" type="button" value="" title="Отменить поиск" href="">
                    <ion-icon class="navigation__close-outline" name="close-outline"></ion-icon>
                </a>
                <a class="navigation__search-play" type="submit" value="" title="Начать поиск" href="">
                    <ion-icon class="navigation__search-outline" name="search-outline"></ion-icon>
                </a>
            </form>
        </ul>
    </nav>
</header>
