<main>
    <section class="slide">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/img/hero.jpg" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero-1.png" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero.jpg" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero-1.png" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero.jpg" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero-1.png" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero.jpg" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero-1.png" alt="" /></div>
                <div class="swiper-slide"><img src="/img/hero.jpg" alt="" /></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>
    <section class="item">
        <h1 class="item-title">Новинки</h1>
        <div class="item-wrapper">
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href="">
                            <h1>Купить <ion-icon name="card-outline"></ion-icon></h1>
                        </a>
                        <a href="">
                            <h4>В корзину <ion-icon name="cart-outline"></ion-icon></h4>
                        </a>
                        <a href="">
                            <h4>Подробнее.. <ion-icon name="receipt-outline"></ion-icon></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item__chevron">
                <div class="item_button">
                    <div class="item__container">
                        <div class="item__flipper">
                            <div class="item__front">
                                <div class="item__header">
                                    <img src="/img/dadet.png" alt="" />
                                    <h3>100 грн</h3>
                                </div>
                                <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                            </div>
                            <div class="item__back">
                                <a href=""><h1>Купить</h1></a>
                                <a href=""><h4>В корзину</h4></a>
                                <a href=""><h4>Описание</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="item__chevron-btn">
                    <ion-icon class="item__chevron-caret-down-circle-outline" name="caret-down-circle-outline"></ion-icon>
                </button>
            </div>
        </div>
    </section>
    <section class="item">
        <h1 class="item-title">Чехлы</h1>
        <div class="item-wrapper">
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__chevron">
                <div class="item_button">
                    <div class="item__container">
                        <div class="item__flipper">
                            <div class="item__front">
                                <div class="item__header">
                                    <img src="/img/dadet.png" alt="" />
                                    <h3>100 грн</h3>
                                </div>
                                <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                            </div>
                            <div class="item__back">
                                <a href=""><h1>Купить</h1></a>
                                <a href=""><h4>В корзину</h4></a>
                                <a href=""><h4>Описание</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="item__chevron-btn">
                    <ion-icon class="item__chevron-caret-down-circle-outline" name="caret-down-circle-outline"></ion-icon>
                </button>
            </div>
        </div>
    </section>
    <section class="item">
        <h1 class="item-title">Кейсы</h1>
        <div class="item-wrapper">
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__chevron">
                <div class="item_button">
                    <div class="item__container">
                        <div class="item__flipper">
                            <div class="item__front">
                                <div class="item__header">
                                    <img src="/img/dadet.png" alt="" />
                                    <h3>100 грн</h3>
                                </div>
                                <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                            </div>
                            <div class="item__back">
                                <a href=""><h1>Купить</h1></a>
                                <a href=""><h4>В корзину</h4></a>
                                <a href=""><h4>Описание</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="item__chevron-btn">
                    <ion-icon class="item__chevron-caret-down-circle-outline" name="caret-down-circle-outline"></ion-icon>
                </button>
            </div>
        </div>
    </section>
    <section class="item">
        <h1 class="item-title">Ремешки</h1>
        <div class="item-wrapper">
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__container">
                <div class="item__flipper">
                    <div class="item__front">
                        <div class="item__header">
                            <img src="/img/dadet.png" alt="" />
                            <h3>100 грн</h3>
                        </div>
                        <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                    </div>
                    <div class="item__back">
                        <a href=""><h1>Купить</h1></a>
                        <a href=""><h4>В корзину</h4></a>
                        <a href=""><h4>Описание</h4></a>
                    </div>
                </div>
            </div>
            <div class="item__chevron">
                <div class="item_button">
                    <div class="item__container">
                        <div class="item__flipper">
                            <div class="item__front">
                                <div class="item__header">
                                    <img src="/img/dadet.png" alt="" />
                                    <h3>100 грн</h3>
                                </div>
                                <p>Кожаная накладка Epic Vivi Crocodile series для Samsung Galaxy A71</p>
                            </div>
                            <div class="item__back">
                                <a href=""><h1>Купить</h1></a>
                                <a href=""><h4>В корзину</h4></a>
                                <a href=""><h4>Описание</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="item__chevron-btn">
                    <ion-icon class="item__chevron-caret-down-circle-outline" name="caret-down-circle-outline"></ion-icon>
                </button>
            </div>
        </div>
    </section>
</main>
